/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

:root {
  --ifm-color-primary: #edbd92;
  --ifm-color-primary-dark: #e8a971;
  --ifm-color-primary-darker: #e59f61;
  --ifm-color-primary-darkest: #dd812f;
  --ifm-color-primary-light: #f2d1b3;
  --ifm-color-primary-lighter: #ec7200;
  --ifm-color-primary-lightest: #fdf9f5;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #edbd92;
  --ifm-color-primary-dark: #e8a971;
  --ifm-color-primary-darker: #e59f61;
  --ifm-color-primary-darkest: #dd812f;
  --ifm-color-primary-light: #f2d1b3;
  --ifm-color-primary-lighter: #f5dbc3;
  --ifm-color-primary-lightest: #fdf9f5;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
